files:
    "/etc/cron.d/pickemupdates":
        mode: "000644"
        owner: root
        group: root
        content: |
            */5 * * * * webapp /usr/local/bin/pickem-updates.sh

    "/usr/local/bin/pickem-updates.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/bin/bash

            # Setup 
            export X_RAPIDAPI_KEY=a204a03302msh0ac572a7232996bp15fab0jsnfcba822202f5
            source /var/app/venv/*/bin/activate

            # update_games.py
            python /var/app/current/pickem_api/update_games.py >> /var/log/app-logs/django.log 

            # update_picks
            python /var/app/current/pickem_api/update_picks.py

            exit 0

commands:
    remove_old_cron:
        command: "rm -f /etc/cron.d/pickemupdates.bak"