body {
    background-color: #F2F3F7;
    /* background-color: rgb(32, 32, 32); */
}

body {
    font-family: "Heebo", sans-serif;
  }
  .material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
  }
  
.center {
    margin-left: auto;
    margin-right: auto;
}

.circular--square { 
    border-radius: 50%; 
    height: 40px;
    width: 40px;
    /* border-radius: 20%; */
    /* background-color: rgb(255, 255, 255);  */
}

img {
    border-radius: 50%;
}

  
.img-logo {
    width: 125px;
    height: 125px;
}

.nfl-logo {
    width: 60px;
    height: 60px;
}

.img-thumbnail {
    width: 100px;
    height: 50px;
    padding-left: 1rem;
    background-color: transparent;
    border: none;
    object-fit: contain;
}

.rules-thumbnail {
    background-color: transparent;
    border: none;
    object-fit: contain;
}

nav .navbar-nav li a {
    color: white;
}

.dark-text{
    color:rgb(0, 0, 0);
}
  
nav .navbar-nav-blue li a {
    color: rgb(104, 11, 11);
}

.debug {
    background-color: cornsilk;
}

.win {
    background-color: rgb(25, 149, 69);
}

.loss {
    background-color: rgb(196, 18, 18);
}
.inprogress {
    background-color: rgb(13, 64, 215);
}

td {
    padding: 10px;
}

tr.spaceUnder>td {
    padding-bottom: 1em;
  }
  
.td-score {
    text-align: center;
}

.td-team {
    table-layout: fixed;
    width: 350px;
}

.standing td {
    padding: 1px;
    align-self: center;
    width: 50px;
  }

  .custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
  .custom-toggler.navbar-toggler {
    border-color: rgb(255, 255, 255);
  } 

.navbar-nav > li > .dropdown-menu a{   color: #555555;  }

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #000000;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #000000;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #4d4d4d;
}

.center {
    margin-left: auto;
    margin-right: auto;
  }

  #div {
    display: flex;
    justify-content: center;
  }
  
  #table {
    align-self: center;
  }
