body {
    background-color: #F2F3F7;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.circular--square { 
    border-radius: 50%; 
    height: 40px;
    width: 40px;
    /* border-radius: 20%; */
    /* background-color: rgb(255, 255, 255);  */
}

img {
    border-radius: 50%;
}

  
.img-logo {
    width: 125px;
    height: 125px;
}

.nfl-logo {
    width: 60px;
    height: 60px;
}

.img-thumbnail {
    width: 100px;
    height: 50px;
    padding-left: 1rem;
    background-color: transparent;
    border: none;
    object-fit: contain;
}

nav .navbar-nav li a {
    color: white !important;
}

nav .navbar-nav-blue li a {
    color: rgb(104, 11, 11) !important;
}

.debug {
    background-color: cornsilk;
}

.win {
    background-color: rgb(25, 149, 69);
}

.loss {
    background-color: rgb(196, 18, 18);
}
.inprogress {
    background-color: rgb(13, 64, 215);
}

td {
    padding: 10px;
}

tr.spaceUnder>td {
    padding-bottom: 1em;
  }
  
.td-score {
    text-align: center;
}

.td-team {
    table-layout: fixed;
    width: 350px;
}

.standing td {
    padding: 1px;
    align-self: center;
    width: 50px;
  }