body {
    background-color: #F2F3F7;
    
    /* background-color: rgb(24, 25, 26); */
}

body {
    font-family: "Heebo", sans-serif;
  }
  .material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
  }
  
.center {
    margin-left: auto;
    margin-right: auto;
}

.dark-text{
  color:rgb(0, 0, 0);
}

/* Image */
.circular--square { 
    border-radius: 50%; 
    height: 40px;
    width: 40px;
    /* border-radius: 20%; */
    /* background-color: rgb(255, 255, 255);  */
}

.circular--square-sm {
  border-radius: 50%; 
  height: 40px;
  width: 40px;
}


img {
    border-radius: 3%;
}

  
.img-logo {
    width: 125px;
    height: 125px;
}

.nfl-logo {
    width: 30px;
    height: 30px;
}

.img-thumbnail {
    width: 100px;
    height: 50px;
    padding-left: 1rem;
    background-color: transparent;
    border: none;
    object-fit: contain;
}

.rules-thumbnail {
    background-color: transparent;
    border: none;
    object-fit: contain;
}

/* player-info wrapper */

.player-info-wrapper {
  width: 100%;
  padding: 0px;
  margin-bottom: 0px;
  text-align: left;
}

.player-row {
  display: block; /* Change display to block */
  width: 100%;
  border: 0px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 1px;
  background-color: #ffffff;
}

.player-profile-img {
  width: 40px; /* Adjust as needed */
  height: 40px; /* Adjust as needed */
  border-radius: 50%;
}

nav .player-username {
  text-align: left;
  font-size: 6px  !important;
}

nav .player-score {
  font-size: 6px  !important;
}

.circular--square-sm {
  /* Your existing circular image styles here */
}

.text-uppercase {
  /* Your existing text styles here */
}

/* nav-link */
.nav-link {
  position: relative;
}

.nav-link::after {
  content: '';
  opacity: 0;
  transition: all 0.2s;
  height: 2px;
  width: 100%;
  background-color: rgb(13, 64, 215);
  position: absolute;
  bottom: 0;
  left: 0;
}

.navbar-link > .active > { 
  content: '';
  opacity: 0;
  transition: all 0.2s;
  height: 2px;
  width: 100%;
  background-color: rgb(13, 64, 215);
  position: absolute;
  bottom: 0;
  left: 0;
}

.nav-link:hover::after {
  opacity: 1;
}

/* navbar */
.navbar-custom {
  background-color: rgb(37, 37, 38);
}

nav .navbar-nav li a {
    color: white;
}
  
nav .navbar-nav-blue li a {
    color: rgb(104, 11, 11);
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: rgb(255, 255, 255);
} 

.navbar-nav > li > .dropdown-menu a{   color: #555555;  }


.debug {
    background-color: cornsilk;
}

.win {
    background-color: rgb(20, 135, 85);
}

.loss {
    background-color: rgb(140, 137, 137);
}
.inprogress {
    background-color: rgb(13, 64, 215);
}

.pick-header {
  font-size: 0.9em;
}

.pick {
  background-color: rgb(176, 183, 188);
  font-size: 1;
  color: #000000;
}

.bg-pick-info {
  background-color: rgb(140, 137, 137);
}

.bg-nfl-blue {
  background-color: #013369;
}

.bg-background {
  background-color: #F2F3F7;
}

td {
    padding: 10px;
}

tr.spaceUnder>td {
    padding-bottom: 1em;
  }
  
.td-score {
    text-align: center;
}

.td-team {
    table-layout: fixed;
    width: 350px;
}

.standing td {
    padding: 1px;
    align-self: center;
    width: 50px;
  }

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #000000;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #4d4d4d;
}

.center {
    margin-left: auto;
    margin-right: auto;
  }

  #div {
    display: flex;
    justify-content: center;
  }
  
  #table {
    align-self: center;
  }

  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  @media (min-width: 992px) {
    .rounded-lg-3 { border-radius: .3rem; }
  }
  