{% extends 'pickem/base.html' %}
{% load static %}
{% load socialaccount %}

{% block content %}
<div class="container min-vh-100">
    <div class="px-4 pt-5 my-5 text-center border-bottom">
      <div class="image"><img src="{% static '/images/homepage.png' %}" class="img-fluid" alt="Responsive image">
      </div>
      <BR>
      <div class="col-lg-6 mx-auto">
        <!-- <p class="lead mb-4">Welcome to the 2022/23 FFPL year!</p> -->
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
          <a href="/scores/" class="btn btn-primary btn-lg px-4 me-sm-3" role="button">Current Week Scores</a>
          {% if user.is_authenticated %}
          <a href="/picks" class="btn btn-outline-secondary btn-lg px-4" role="button">Submit Weekly Picks</a>
          {% else %}
          <a  href="{% provider_login_url 'google' %}" class="btn btn-outline-secondary btn-lg px-4" role="button">Login With Google</a>
          {% endif %}
        </div>
      </div>
      <div class="overflow-hidden" style="max-height: 30vh;">
        <div class="container px-5">
          <!-- <img src="bootstrap-docs.png" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy"> -->
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}