{% extends 'pickem/base.html' %}

{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">

<br><br><br><br>
<div class="container">
    <div class="row gx-4 ">
        <div class="col-md-3">
            <div class="border p-3 bg-dark rounded text-center">
                <b class="text-white">Live Standings</b>
            </div>
            <div class="border p-3 bg-light rounded text-center">
                <table class="standing" width="80%">
                    <tbody>
                        {% for player in user_points %}
                        <tr>
                            <td class="text-uppercase"><b>{{ player.userID }}:</b></td>
                            <td> {{ player.wins }}</td>
                        </tr>
                        {% endfor %}
                        {% for player in players_names %}
                            {% if player not in users_w_points %}
                                    <tr>
                                        <td class="text-uppercase"><b>{{ player }}:</b></td>
                                        <td>0</td>
                                    </tr>
                            {% endif %}                        
                        {% endfor %}

                    </tbody>
                </table>
            </div>
            <br>
            <div class="d-none d-xl-block">
            <a class="twitter-timeline" data-width="300" data-height="2000" data-theme="light"
                href="https://twitter.com/NFL?ref_src=twsrc%5Etfw">Tweets by NFL</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
        
        <div class="col-md-9">
            <div class="p-3 border bg-dark rounded">
                <table>
                    <tr></tr>
                        <td><h3><img src="{% static '/images/nfl.svg' %}" alt="logo" class="img-responsive img-logo"></h3></td>
                        <td class="standing">
                            <h3 class="text-white">NFL Scoreboard</h3>
                            {% if competition == 'nfl-preseason' %}
                                <h5 class="text-muted">Preseason - Week {{ week }} </h5>
                            {% else %}
                                <h5 class="text-muted">Regular Season - Week {{ week }} </h5>
                            {% endif %}
                        </td>
                </table>
            </div>
            <div class="p-3 border bg-light rounded">
                {% if game_days %}
                    {% for day in game_days %}
                        </ul><h5>{{ day|date:"D, M d Y @ P" }}</h5>
                        {% if game_list %}
                            {% for game in game_list %}
                                {% if game.startTimestamp == day %}
                                    {% if game.statusType == 'inprogress' %}
                                        <div class="p-3 border bg-light text-left rounded border-dark">
                                    {% else %}
                                        <div class="p-3 border bg-light text-left rounded">
                                    {% endif %}
                                    <table>
                                        <tbody>
                                            <tr>
                                                <th class="td-team">{{ game.statusTitle }}</th>
                                                {% if game.statusType != 'notstarted' %}
                                                <th class="td-score d-none d-sm-table-cell">1</th>
                                                <th class="td-score d-none d-sm-table-cell">2</th>
                                                <th class="td-score d-none d-sm-table-cell">3</th>
                                                <th class="td-score d-none d-sm-table-cell">4</th>
                                                <th class="td-score">T</th>
                                                {% endif %}
                                            </tr>
                                            <tr>
                                                <td>
                                                    {% with 'images/'|add:game.awayTeamSlug|add:'.svg' as image_static %}
                                                        <img src="{% static image_static %}" alt="logo" class="nfl-logo">
                                                    {% endwith %}
                                                    {% if game.statusType == 'finished' %}
                                                        {% if game.gameWinner == game.awayTeamSlug %}
                                                            <b>{{ game.awayTeamName }}&#9664;</b>
                                                            {% for team in wins_losses %}
                                                                {% if team.teamNameSlug == game.awayTeamSlug %}
                                                                    {% if team.teamTies > 0 %}
                                                                        <i>({{ team.teamWins }}-{{ team.teamLosses }}-{{ team.teamTies }})</i>
                                                                    {% else %}
                                                                        <i>({{ team.teamWins }}-{{ team.teamLosses }})</i>
                                                                    {% endif %}
                                                                {% endif %}
                                                            {% endfor %} 
                                                        {% else %}
                                                            <b class="text-muted">{{ game.awayTeamName }}</b>
                                                            {% for team in wins_losses %}
                                                                {% if team.teamNameSlug == game.awayTeamSlug %}
                                                                    {% if team.teamTies > 0 %}
                                                                        <i>({{ team.teamWins }}-{{ team.teamLosses }}-{{ team.teamTies }})</i>
                                                                    {% else %}
                                                                        <i>({{ team.teamWins }}-{{ team.teamLosses }})</i>
                                                                    {% endif %}
                                                                {% endif %}
                                                            {% endfor %} 
                                                        {% endif %}
                                                    {% else %}
                                                        <b>{{ game.awayTeamName }}</b>
                                                        {% for team in wins_losses %}
                                                            {% if team.teamNameSlug == game.awayTeamSlug %}
                                                                    {% if team.teamTies > 0 %}
                                                                        <i>({{ team.teamWins }}-{{ team.teamLosses }}-{{ team.teamTies }})</i>
                                                                    {% else %}
                                                                        <i>({{ team.teamWins }}-{{ team.teamLosses }})</i>
                                                                    {% endif %}
                                                            {% endif %}
                                                        {% endfor %}                    
                                                    {% endif %}
                                                </td>
                                                {% if game.statusType != 'notstarted' %}
                                                    {% if game.awayTeamPeriod1 != None %}
                                                    <td class="d-none d-sm-table-cell">{{ game.awayTeamPeriod1 }}</td>
                                                    {% else %}
                                                    <td class="d-none d-sm-table-cell">&nbsp;</td>
                                                    {% endif %}
                                                    {% if game.awayTeamPeriod2 != None %}
                                                    <td class="d-none d-sm-table-cell">{{ game.awayTeamPeriod2 }}</td>
                                                    {% else %}
                                                    <td class="d-none d-sm-table-cell">&nbsp;</td>
                                                    {% endif %}
                                                    {% if game.awayTeamPeriod3 != None %}
                                                    <td class="d-none d-sm-table-cell">{{ game.awayTeamPeriod3 }}</td>
                                                    {% else %}
                                                    <td class="d-none d-sm-table-cell">&nbsp;</td>
                                                    {% endif %}
                                                    {% if game.awayTeamPeriod4 != None %}
                                                    <td class="d-none d-sm-table-cell">{{ game.awayTeamPeriod4 }}</td>
                                                    {% else %}
                                                    <td class="d-none d-sm-table-cell">&nbsp;</td>
                                                    {% endif %}
                                                    <td><b>{{ game.awayTeamScore }}</b></td>
                                                    <td>&nbsp;&nbsp;&nbsp;</td>
                                                    <td>
                                                        {% if picks %}
                                                        {% for pick in picks %}
                                                        {% if pick.pick == game.awayTeamSlug %}
                                                            {% if game.statusType == 'finished' %}
                                                                {% if game.gameWinner == game.awayTeamSlug %}
                                                                    <span class="badge win text-uppercase">
                                                                        {{ pick.userID }} 
                                                                        {% if pick.tieBreakerScore != None %}
                                                                        ({{ pick.tieBreakerScore }})
                                                                        {% endif %}
                                                                    </span>
                                                                {% else %}
                                                                    <span class="badge loss text-uppercase">
                                                                        {{ pick.userID }} 
                                                                        {% if pick.tieBreakerScore != None %}
                                                                        ({{ pick.tieBreakerScore }})
                                                                        {% endif %}
                                                                    </span>
                                                                {% endif %}
                                                            {% endif %}
                                                            {% if game.statusType == 'inprogress' %}                                                                                                         
                                                                <span class="badge inprogress text-uppercase">
                                                                    {{ pick.userID }}
                                                                    {% if pick.tieBreakerScore != None %}
                                                                    ({{ pick.tieBreakerScore }})
                                                                    {% endif %}
                                                                </span>
                                                            {% endif %}
                                                        {% endif %}
                                                        {% endfor %}
                                                        {% endif %}
                                                    </td>
                                                {% endif %}
                                            </tr>
                                            <tr>
                                                <td>
                                                    {% with 'images/'|add:game.homeTeamSlug|add:'.svg' as image_static %}
                                                        <img src="{% static image_static %}" alt="logo" class="nfl-logo">
                                                    {% endwith %}
                                                    {% if game.statusType == 'finished' %}
                                                        {% if game.gameWinner == game.homeTeamSlug %}
                                                            <b>{{ game.homeTeamName }}&#9664;</b>
                                                            {% for team in wins_losses %}
                                                            {% if team.teamNameSlug == game.homeTeamSlug %}
                                                                    {% if team.teamTies > 0 %}
                                                                        <i>({{ team.teamWins }}-{{ team.teamLosses }}-{{ team.teamTies }})</i>
                                                                    {% else %}
                                                                        <i>({{ team.teamWins }}-{{ team.teamLosses }})</i>
                                                                    {% endif %}
                                                            {% endif %}
                                                        {% endfor %} 
                                                        {% else %}
                                                            <b class="text-muted">{{ game.homeTeamName }}</b>
                                                            {% for team in wins_losses %}
                                                            {% if team.teamNameSlug == game.homeTeamSlug %}
                                                                    {% if team.teamTies > 0 %}
                                                                        <i>({{ team.teamWins }}-{{ team.teamLosses }}-{{ team.teamTies }})</i>
                                                                    {% else %}
                                                                        <i>({{ team.teamWins }}-{{ team.teamLosses }})</i>
                                                                    {% endif %}
                                                            {% endif %}
                                                        {% endfor %} 
                                                        {% endif %}
                                                    {% else %}
                                                        <b>{{ game.homeTeamName }}</b>
                                                        {% for team in wins_losses %}
                                                            {% if team.teamNameSlug == game.homeTeamSlug %}
                                                                    {% if team.teamTies > 0 %}
                                                                        <i>({{ team.teamWins }}-{{ team.teamLosses }}-{{ team.teamTies }})</i>
                                                                    {% else %}
                                                                        <i>({{ team.teamWins }}-{{ team.teamLosses }})</i>
                                                                    {% endif %}
                                                            {% endif %}
                                                        {% endfor %} 
                                                    {% endif %}
                                                </td>
                                                
                                                {% if game.statusType != 'notstarted' %}
                                                    {% if game.homeTeamPeriod1 != None %}
                                                    <td class="d-none d-sm-table-cell">{{ game.homeTeamPeriod1 }}</td>
                                                    {% else %}
                                                    <td class="d-none d-sm-table-cell">&nbsp;</td>
                                                    {% endif %}
                                                    {% if game.homeTeamPeriod2 != None %}
                                                    <td class="d-none d-sm-table-cell">{{ game.homeTeamPeriod2 }}</td>
                                                    {% else %}
                                                    <td class="d-none d-sm-table-cell">&nbsp;</td>
                                                    {% endif %}
                                                    {% if game.homeTeamPeriod3 != None %}
                                                    <td class="d-none d-sm-table-cell">{{ game.homeTeamPeriod3 }}</td>
                                                    {% else %}
                                                    <td class="d-none d-sm-table-cell">&nbsp;</td>
                                                    {% endif %}
                                                    {% if game.homeTeamPeriod4 != None %}
                                                    <td class="d-none d-sm-table-cell">{{ game.homeTeamPeriod4 }}</td>
                                                    {% else %}
                                                    <td class="d-none d-sm-table-cell">&nbsp;</td>
                                                    {% endif %}
                                                    <td><b>{{ game.homeTeamScore }}</b></td>
                                                    <td>&nbsp;&nbsp;&nbsp;</td>
                                                    <td>
                                                        {% if picks %}
                                                        {% for pick in picks %}
                                                        {% if pick.pick == game.homeTeamSlug %}
                                                            {% if game.statusType == 'finished' %}
                                                                {% if game.gameWinner == game.homeTeamSlug %}
                                                                    <span class="badge win text-uppercase">
                                                                        {{ pick.userID }} 
                                                                        {% if pick.tieBreakerScore != None %}
                                                                        ({{ pick.tieBreakerScore }})
                                                                        {% endif %}
                                                                    </span>
                                                                {% else %}
                                                                    <span class="badge loss text-uppercase">
                                                                        {{ pick.userID }} 
                                                                        {% if pick.tieBreakerScore != None %}
                                                                        ({{ pick.tieBreakerScore }})
                                                                        {% endif %}
                                                                    </span>
                                                                {% endif %}
                                                            {% endif %}
                                                            {% if game.statusType == 'inprogress' %}                                                                                                         
                                                                <span class="badge inprogress text-uppercase">
                                                                    {{ pick.userID }} 
                                                                    {% if pick.tieBreakerScore != None %}
                                                                    ({{ pick.tieBreakerScore }})
                                                                    {% endif %}
                                                                </span>
                                                            {% endif %}
                                                        {% endif %}
                                                        {% endfor %}
                                                        {% endif %}
                                                    </td>
                                                {% endif %}
                                            </tr>
                                        </tbody>
                                    </table>
                                    </div>
                                    <br>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>

    </div>
</div>
{% endblock %}