{% extends 'pickem/base.html' %}
{% load static %}
{% load socialaccount %}

{% block content %}

<div class="container min-vh-100">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <br><br><br><br>
    <div class="container">
        <div class="col">
            <div class="table-responsive border p-3 bg-light rounded text-center">
                <h3>Leauge Standings</h3>
                <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
                <table class="styled-table center" style="width: 90%;">
                    <thead>
                        <tr>
                            <th>Week</th>
                            <th>1</th>
                            <th>2</th>
                            <th>3</th>
                            <th>4</th>
                            <th>5</th>
                            <th>6</th>
                            <th>7</th>
                            <th>8</th>
                            <th>9</th>
                            <th>10</th>
                            <th>11</th>
                            <th>12</th>
                            <th>13</th>
                            <th>14</th>
                            <th>15</th>
                            <th>16</th>
                            <th>17</th>
                            <th>18</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for player in player_points %}
                        <tr>
                            <td class="text-uppercase"><b>{{ player.userID }}</b></td>
                            
                            {% if player.week_1_points != None %}
                                <td>
                                    {{ player.week_1_points }}
                                    {% if player.week_1_winner == True %}
                                    + {{ player.week_1_bonus }} &#127942;
                                    {% endif %}
                                </td>
                            {% else %}
                            <td>&nbsp;</td>
                            {% endif %}

                            {% if player.week_2_points != None %}
                            <td>
                                {{ player.week_2_points }}
                                {% if player.week_2_winner == True %}
                                + {{ player.week_2_bonus }} &#127942;
                                {% endif %}
                            </td>
                            {% else %}
                            <td>&nbsp;</td>
                            {% endif %}

                            {% if player.week_3_points != None %}
                            <td>
                                {{ player.week_3_points }}
                                {% if player.week_3_winner == True %}
                                + {{ player.week_3_bonus }} &#127942;
                                {% endif %}
                            </td>
                            {% else %}
                            <td>&nbsp;</td>
                            {% endif %}

                            {% if player.week_4_points != None %}
                            <td>
                                {{ player.week_4_points }}
                                {% if player.week_4_winner == True %}
                                + {{ player.week_4_bonus }} &#127942;
                                {% endif %}
                            </td>
                            {% else %}
                            <td>&nbsp;</td>
                            {% endif %}

                            {% if player.week_5_points != None %}
                            <td>
                                {{ player.week_5_points }}
                                {% if player.week_5_winner == True %}
                                + {{ player.week_5_bonus }} &#127942;
                                {% endif %}
                            </td>
                            {% else %}
                            <td>&nbsp;</td>
                            {% endif %}

                            {% if player.week_6_points != None %}
                            <td>
                                {{ player.week_6_points }}
                                {% if player.week_6_winner == True %}
                                + {{ player.week_6_bonus }} &#127942;
                                {% endif %}
                            </td>
                            {% else %}
                            <td>&nbsp;</td>
                            {% endif %}

                            {% if player.week_7_points != None %}
                            <td>
                                {{ player.week_7_points }}
                                {% if player.week_7_winner == True %}
                                + {{ player.week_7_bonus }} &#127942;
                                {% endif %}
                            </td>
                            {% else %}
                            <td>&nbsp;</td>
                            {% endif %}

                            {% if player.week_8_points != None %}
                            <td>
                                {{ player.week_8_points }}
                                {% if player.week_8_winner == True %}
                                + {{ player.week_8_bonus }} &#127942;
                                {% endif %}
                            </td>
                            {% else %}
                            <td>&nbsp;</td>
                            {% endif %}

                            {% if player.week_9_points != None %}
                            <td>
                                {{ player.week_9_points }}
                                {% if player.week_9_winner == True %}
                                + {{ player.week_9_bonus }} &#127942;
                                {% endif %}
                            </td>
                            {% else %}
                            <td>&nbsp;</td>
                            {% endif %}

                            {% if player.week_10_points != None %}
                            <td>
                                {{ player.week_10_points }}
                                {% if player.week_10_winner == True %}
                                + {{ player.week_10_bonus }} &#127942;
                                {% endif %}
                            </td>
                            {% else %}
                            <td>&nbsp;</td>
                            {% endif %}

                            {% if player.week_11_points != None %}
                            <td>
                                {{ player.week_11_points }}
                                {% if player.week_11_winner == True %}
                                + {{ player.week_11_bonus }} &#127942;
                                {% endif %}
                            </td>
                            {% else %}
                            <td>&nbsp;</td>
                            {% endif %}

                            {% if player.week_12_points != None %}
                            <td>
                                {{ player.week_12_points }}
                                {% if player.week_12_winner == True %}
                                + {{ player.week_12_bonus }} &#127942;
                                {% endif %}
                            </td>
                            {% else %}
                            <td>&nbsp;</td>
                            {% endif %}

                            {% if player.week_13_points != None %}
                            <td>
                                {{ player.week_13_points }}
                                {% if player.week_13_winner == True %}
                                + {{ player.week_13_bonus }} &#127942;
                                {% endif %}
                            </td>
                            {% else %}
                            <td>&nbsp;</td>
                            {% endif %}

                            {% if player.week_14_points != None %}
                            <td>
                                {{ player.week_14_points }}
                                {% if player.week_14_winner == True %}
                                + {{ player.week_14_bonus }} &#127942;
                                {% endif %}
                            </td>
                            {% else %}
                            <td>&nbsp;</td>
                            {% endif %}

                            {% if player.week_15_points != None %}
                            <td>
                                {{ player.week_15_points }}
                                {% if player.week_15_winner == True %}
                                + {{ player.week_15_bonus }} &#127942;
                                {% endif %}
                            </td>
                            {% else %}
                            <td>&nbsp;</td>
                            {% endif %}

                            {% if player.week_16_points != None %}
                            <td>
                                {{ player.week_16_points }}
                                {% if player.week_16_winner == True %}
                                + {{ player.week_16_bonus }} &#127942;
                                {% endif %}
                            </td>
                            {% else %}
                            <td>&nbsp;</td>
                            {% endif %}

                            {% if player.week_17_points != None %}
                            <td>
                                {{ player.week_17_points }}
                                {% if player.week_17_winner == True %}
                                + {{ player.week_17_bonus }} &#127942;
                                {% endif %}
                            </td>
                            {% else %}
                            <td>&nbsp;</td>
                            {% endif %}

                            {% if player.week_18_points != None %}
                            <td>
                                {{ player.week_18_points }}
                                {% if player.week_18_winner == True %}
                                + {{ player.week_18_bonus }} &#127942;
                                {% endif %}
                            </td>
                            {% else %}
                            <td>&nbsp;</td>
                            {% endif %}

                            {% if player.total_points != None %}
                            <td>{{ player.total_points }}</td>
                            {% else %}
                            <td>0</td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}