# Dev values for family-pickem
# Used by ArgoCD Application: pickem-dev

fullnameOverride: "family-pickem-dev"
replicaCount: 1

image:
  repository: familypickem/pickem-django
  tag: ""  # Tracks latest from main
  pullPolicy: Always

ingress:
  enabled: true
  className: "nginx"
  annotations: {}
  hosts:
    - host: dev.family-pickem.com
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls:
    - secretName: pickem-dev-tls
      hosts:
        - dev.family-pickem.com

postgresql:
  enabled: true
  global:
    postgresql:
      auth:
        database: "pickem"
  primary:
    persistence:
      storageClass: "manual"
      size: 10Gi

cron:
  schedule: "*/5 * * * *"
  command: "/code/pickem_api/cron.sh"
  suspend: false
  successfulJobsHistoryLimit: 3
  failedJobsHistoryLimit: 3
  concurrencyPolicy: Forbid

pickemctl:
  enabled: true
  image:
    repository: familypickem/pickemctl
    tag: "0.0.9"
    pullPolicy: IfNotPresent

externalSecrets:
  enabled: true
  clusterSecretStore: aws-secrets-manager
  envvarsKey: family-pickem/dev/envvars
  pickemctlKey: family-pickem/dev/pickemctl

backup:
  enabled: false

healthchecks:
  enabled: true
